* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

:root {
  --color1: #ffbd00;
  --color2: #ff5400;
  --color3: #ff0054;
  --color4: #9e0059;
  --color5: #390099;
}

/* * {
  color: white;
} */

body {
  font-size: calc(10px + 1vmin);
  min-height: 100vh;
  background-color: azure;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}
/* 
.outer-box {
  width: 400px;
  height: 400px;
  background: #2d2d2d;
  perspective: 1000px;
}

.inner-box {
  width: 200px;
  height: 200px;
  background-color: #9e005a88;
  transition: all 0.5s linear;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
}

div.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
}

.inner-box:hover {
   transform: rotateX(45deg) rotateY(45deg); 
   transform: rotate(45deg); 
   transform: skew(45deg); 
   transform: translateZ(200px); 
  transform: scale(0.5);
}

.line {
  width: 2px;
  height: 120%;
  position: absolute;
}

.line1 {
  transform: rotate(-90deg);
  background: blue;
}

.line2 {
  background: green;
}

.line3 {
  background: orange;
  transform: rotateX(90deg);
} */

main div.cube {
  width: 300px;
  height: 300px;
  /* border: 1px solid black; */
  position: relative;
  transform-style: preserve-3d;
  /* perspective: 1000px; */
  transition: all 0.4s linear;
  animation: spin 5s linear infinite;
}

main div.cube:hover {
  transform: rotateX(20deg) rotateY(90deg);
}

main div.cube div.face {
  font-size: xx-large;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 0px 20px black;
  position: absolute;
  transform-style: preserve-3d;
}

main div.cube div.front {
  transform: translateZ(150px);
}
main div.cube div.back {
  transform: translateZ(-150px);
}

main div.cube div.left {
  transform: translateX(-150px) rotateY(90deg);
}
main div.cube div.right {
  transform: translateX(150px) rotateY(90deg);
}
main div.cube div.top {
  transform: translateY(-150px) rotateX(90deg);
}
main div.cube div.bottom {
  transform: translateY(150px) rotateX(90deg);
}

@keyframes spin {
  0% {
    transform: rotateY(0deg) rotateX(0deg);
  }
  100% {
    transform: rotateY(360deg) rotateX(360deg);
  }
}
