#room {
  width: 200px;
  height: 200px;
  background: blue;
}

#box {
  width: 100px;
  height: 100px;
  margin: 10px;
  background: green;
  padding: 10px;
  border: 3px solid;
}

*{
    color: black;
}

.element{
    /* display: inline-block; */
    background-color: red;
    /* width: 50px;
    height: 50px; */
    /* padding-left: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 100px; */

    margin: 10px;
    padding: 10px 50px 100px 150px;

    border-style: dashed;
    border-width: 5px;
    border-color: black;
    border-radius: 50px;
    border: 10px solid black;
    
    outline-style: dashed;
    outline-width: 5px;
    outline-color: green;
    outline: 10px solid green;
}

.outer{
    /* display: inline-block; */
    background: blue;
}

.card{
    color: blue;
    border: 1px solid salmon;
    border-left: 10px solid salmon;
    padding: 5px 15px;
    margin-bottom: 10px;
}

.first{
    background: red;
    padding: 10px;
    margin: 20px;
}
.second{
    background: blue;
    padding: 10px;
    margin: 20px;
}

/* #first, div{
    background: gray;
} */