* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

:root {
  --color1: #ffbd00;
  --color2: #ff5400;
  --color3: #ff0055;
  --color4: #9e0059;
  --color5: #3800998a;
}

html {
  font-size: calc(10px + 1vmin);
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* main {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(45deg, var(--color5) 50%, var(--color3) 50%);
  background: linear-gradient(45deg, var(--color5), var(--color3)),
    url("./bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} */

/* .wrapper {
  position: relative;
  display: flow-root;
  background-color: green;
} */

span.tooltip {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--color3);
  border-radius: 10px;
  position: absolute;
  text-wrap: nowrap;
}

div.triangle-wrapper {
  background-color: green;
  position: relative;
  top: 10px;
  /* left: 45%;
  top: 10%;

  transform: translate(-75%, -50%); */
}

span.triangle {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  background: linear-gradient(45deg, red 50%, green 50%);
  /* background: linear-gradient(45deg, transparent 50%, var(--color3) 50%); */

  /* transform-origin: center;
  transform: rotate(135deg); */
}
