* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

html {
  font-size: calc(10px + 1vmin);
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8938e6;
}

.table-wrapper {
  /* width: 500px; */
  height: 300px;
  overflow-y: auto;
  background-color: green;
}
