* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

:root {
  --color1: #ffbd00;
  --color2: #ff5400;
  --color3: #ff0054;
  --color4: #9e0059;
  --color5: #390099;
}

html,
body {
  font-size: calc(10px + 1vmin);
  height: 100%;
}

body {
  padding: 2rem;
}

main.grid-container {
  width: 100%;
  /* height: 100%; */
  display: grid;
  background: #464646;

  grid-template-columns: repeat(3, 1fr);
  gap: 0.6rem;

  /* grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.3fr repeat(4, 1fr);

  gap: 0.6rem;

  grid-template-areas:
    "sidebar navbar navbar navbar"
    "sidebar card1 card2 card3"
    "sidebar content content content"
    "sidebar content content content"
    "sidebar content content content"; */
}

/* main.grid-container > nav {
  grid-area: navbar;
  background: #ff0054;
}

main.grid-container > aside {
  grid-area: sidebar;
  background: #ffbd00;
}

main.grid-container > div.card1 {
  grid-area: card1;
  background: #9e0059;
}
main.grid-container > div.card2 {
  grid-area: card2;
  background: #9e0059;
}
main.grid-container > div.card3 {
  grid-area: card3;
  background: #9e0059;
}

main.grid-container > main.content {
  grid-area: content;
  background: #390099;
} */

main.grid-container > article:nth-child(1) {
  grid-column: span 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  align-items: center;
}

main.grid-container > article img {
  width: 100%;
  display: inline-block;
}

@media screen and (max-width: 800px) {
  main.grid-container {
    grid-template-columns: 100%;
  }

  /* main.grid-container > article {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    align-items: center;
  } */
}
