* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

:root {
  --color1: #ffbd00;
  --color2: #ff5400;
  --color3: #ff0054;
  --color4: #9e0059;
  --color5: #390099;
}

html {
  font-size: calc(10px + 1vmin);
}

main {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.grid-container {
  display: grid;
  /* grid-template-rows: 70px 70px 70px 70px 70px; */
  /* grid-template-columns: 70px 70px 70px 70px 70px; */

  /* grid-template-rows: repeat(8, 1fr); */
  /* grid-template-columns: repeat(5, 70px); */

  width: 90vw;
  height: 400px;
  background-color: #181818;

  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(2, 1fr);

  grid-auto-rows: 1fr;

  gap: 10px;

  /* align-items: center;
  justify-items: center; */
  /* 
  align-content: space-between;
  justify-content: space-between; */

  /* grid-template-columns: 1fr 600px 1fr; */
}

.grid-item {
  background-color: var(--color2);
}

.grid-item2 {
  background-color: var(--color4);
}
