*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.div{
  width: 300px;
  /* height: 100px; */

  /* flex-basis: 30%; */
}

.div1{
  background-color: orange;
  flex-shrink: 0;

}
.div2{
  background-color: violet;
  flex-shrink: 0;
  /* flex-grow: 1; */
  /* width: 290px; */
}
.div3{
  background-color: green;
  flex-shrink: 0;

}

.flexbox{
  width: 100%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  /* align-items: end; */
  /* gap: 10px; */

  height: 400px;
  background-color: aqua;
}